<div data-ng-controller="view1Controller">
	<h3>VIEW1: {{view1_name}}</h3>
	<strong>Filter:</strong> </string><input type="text" ng-model="filterOptions.filterText" />
	<br><br>
    <div class="gridProjectsStyle" ng-grid="gridOptions"></div>	
</div>